@if (HttpRuntime.Cache["LoggedInUsers"] != null)
{
    var loggedOnUsers = HttpRuntime.Cache["LoggedInUsers"] as Dictionary<string, DateTime>;
    if (loggedOnUsers != null && loggedOnUsers.Count > 0)
    {
        <div>
            <ul>
                @foreach (var user in loggedOnUsers)
                {
                    <li>
                        <div class="r_row">
                            <div class="r_name">@Html.Encode(user.Key) @@@user.Value.ToString("yyyy/MM/dd HH:mm:ss")</div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
}
